@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #9ECEFA;
    display: flex;
    justify-content: space-between;
}

header span{
    font-family: 'Fascinate', cursive;
}

#logo{
    color: #87119A;
    font-family: 400;
    font-size: 40px;
    margin: 1.5%;
}


#header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
}

.nav-option{
    font-weight: 500;
    color:#707070;
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
}

.nav-option:hover{

    font-weight: 550;
    color:#87119A;
    text-decoration: underline;
}

.titulo{
    margin-left: 2%;
    border-left: #87119A solid 10px;
    padding: 2%;
    margin: 2.5%;
    height: 15px;
}
.titulo h1{
    color:#87119A;
    text-transform: uppercase;
}

article p{
    font-weight: 150;
    padding: 2%;
    margin-left: 2%;
}

.container-imgs{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 93%;
}

.container-imgs img{
    width: 30%;
    height: 30%;
    margin: 0%;
    box-shadow: rgba(0, 0, 0, 0.5);
}

#nosotros .container-imgs{
    flex-wrap: nowrap;
}

#servicios img{
    padding: 15px;
}

#portafolio img{
    width: 23%;
    height: 23%;
    padding: .7%;
}

#portafolio .container-imgs{
    margin: 3%;
}

.container-contacto{
    display: flex;
}
.contacto-img{
    margin-left: 3%;
    padding: 0;
}
.contacto-img img{
    width: 800px;
    height: 550px;
    /* width: 70%;
    height: 60%; */
}
.contacto-datos{
    padding-left: 10px;
    width: 400px;
    line-height: 40px;
}
.contacto-datos span{
    font-weight: bold;
}

footer{
    background-color: #9ECEFA;
    display: flex;
    justify-content: space-between;
    padding: 2.5%;
    font-size: small;
    margin-top: 15%;
}

footer span{
    color:#87119A;
    font-weight: bold;;
}